<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="taxomania.games.mastermind">

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Mastermind"
            android:label="@string/title_classic"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="TimedMastermind"
            android:label="@string/title_timed"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="HighScoresActivity"
            android:label="@string/title_high_scores"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="Instructions"
            android:label="@string/title_instructions"
            android:screenOrientation="sensorPortrait" />
    </application>

</manifest>